<!doctype html>
<html>
    <head>
        <title>Express Demo1</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/">
        {{/if}}
    </head>
    <body>
        <h1 style="color:blue">express Demo1</h1>
        {{{body}}}
    </body>
</html>